<div class="jumbotron">
    <h3>{{vm.titulo}}</h3>
    <p>
        <a class="btn btn-success" href="#/pedidos/new" role="button">Novo pedido</a>
    </p>
    <table class="table table-striped table-hover table-responsive">
        <tr>
            <th>Código</th>
            <th>Data emissão</th>
            <th>Valor</th>
            <th></th>
        </tr>
        <tr data-ng-repeat="pedido in vm.pedidos">
            <td>{{pedido.codigo}}</td>
            <td>{{pedido.dataEmissao}}</td>
            <td>{{pedido.cliente.nome}}</td>
            <td>
                <a href="#/pedidos/edit/{{pedido._id}}"><i class="glyphicon glyphicon-pencil"></i></a>
                <a data-ng-click="vm.remover(pedido)"><i class="glyphicon glyphicon-minus"></i></a>
            </td>
        </tr>
    </table>
</div>